@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100vh;
	width: 100%;
}

* {
	letter-spacing: 0.02rem;
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

::-webkit-scrollbar {
	width: 4px;
}

::-webkit-scrollbar-track {
	background-color: hsl(0, 0%, 100%, 0.2);
}

::-webkit-scrollbar-thumb {
	background-color: hsl(0, 0%, 72%);
}
